#--------------------------------------------------------------
# General
#--------------------------------------------------------------
region = "REPLACE_ME"
keypair_name = "REPLACE_ME"
instance_type = "t2.micro"
#--------------------------------------------------------------
# Network
#--------------------------------------------------------------
vpc_id = "REPLACE_ME" # id of VPC
subnets = ["REPLACE_ME","REPLACE_ME"] #id's of subnets